{% extends "base.html" %} {% block title %} login {% endblock %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>

<style>

</style>

<body>
    <div class="box">
        <div class="box-design">

            <div class="id-row">
                <h1>ID: </h1>

            </div>
            <div class="name-row">
                <h1>Name: </h1>

            </div>
            <div class="email-row">
                <h1>Email: </h1>

            </div>
            <div class="password-row">
                <h1>Password: </h1>

            </div>
            <div class="button-row">
                <h1>Buttons: </h1>

            </div>

        </div>
    </div>
</body>
{% endblock %}